<div class="card" >
	<div class="card-header">
		Naughty/Nasty feeds.
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			I am sorry TSEs for the content shown here. Odin Project requested some nasty staff and I had to deliver accordingly.
		</li>
		<li class="list-group-item">Who ever called you that probably smells like stale skunk-farts and unwashed butt, and has  a truck of marbles shoved up their ass.</li>
		<li class="list-group-item">You’re a douche cannon. When you open your mouth douchebags just go shooting out everywhere.</li>
	</ul>
</div>